/* #menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 35px;
	background: white;
  } */
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
#menu ul li {
	margin: 0 15px;
}
#menu a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
#menu a:hover {
	color: rgb(0, 149, 255);
}